.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 16rem 2rem;
    padding: 1.5rem;
    border: var(--border);
    border-radius: 0.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-main);
    margin-bottom: 1rem;
}

.certificates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
    align-items: stretch;
    width: 100%;
}