.container {
    margin-top: 12rem;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 12vw;
    letter-spacing: 4vw;
    font-family: var(--font-text);
    font-weight: 700;
    color: var(--border-color);
    margin-bottom: -6vw;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 0.5rem;
}

@media screen and (max-width: 526px) {
    .title {
        font-size: 17vw;
        letter-spacing: 1vw;
        color: var(--text-secondary);
    }
}