@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-fill-both {
    animation-fill-mode: both;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-shape-divider-bottom-1740183064 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1740183064 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 10%;
}

.custom-shape-divider-bottom-1740183064 .shape-fill {
  fill: #18181b;
}
.custom-shape-divider-bottom-1740183970 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1740183970 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5%;
}

.custom-shape-divider-bottom-1740183970 .shape-fill {
  fill: #09090b;
}

.diag {
  background-color: #18181b;
  background: repeating-linear-gradient(
    -45deg,
    #a3a3a3,
    #a3a3a3 8px,
    #18181b 8px,
    #18181b 40px
  );
}
