.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-main);
}

.errorCode {
    font-size: clamp(4vh, 15vw, 40vh);
    font-weight: 700;
    color: var(--border-color);
    margin: 0;
}

.errorMessage {
    font-size: clamp(5vh, 4vw, 40vh);
    font-weight: 700;
    color: var(--primary-dark);
    margin: 0;
}